/data
/comparator_output/
/comparator_output_autozero/
/comparator_output_mesh3d/
/comparator_output_nozero/
/comparator_output_v1/
/comparator_output_zero/
/comparison_output/
/deviation_output/
/eda_output/
